*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* start-landing-page */
.landing-page{
    min-height: 100vh;
    background-image: url(../imgs/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.landing-page .overlay{
    background-color: #00000046;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-arae{
    position: relative;
    /* animation: fade-up 2.5s; */
    z-index: 2;
    color: white;
    display: flex;
    padding-top: 20px;

}
.header-arae .logo{
    width: 440px;
    padding: 15px;
    font-weight: bold;
    padding-left: 80px;
    font-size: 18px;
    color: #4bdd22;

}

.header-arae .links{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right:17% ;
    color: #4bdd22;
    cursor: pointer;

}
.header-arae .links li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}
.header-arae .links li a{
    text-decoration: none;
    color: #4bdd22;
    transition: 1s;
}
.header-arae .links li a:hover{
    color: aqua;
}
.header-arae .registration{
    width: 200px;
}
.header-arae .registration button{
    width: 150px;
    height: 30px;
    margin-top: 15px;
    margin-right: 40px;
    background-color: rgba(0, 0, 0, 0.495);
    color: #4bdd22;
    border: 1px solid rgba(87, 68, 68, 0.495);
    border-radius: 5px;
    transition: 1s;
    
}
.header-arae .registration button:hover{
    background-color: rgba(250, 235, 215, 0.104);
    color: wheat;
    cursor: pointer;
}
.introdiction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #4bdd22;
    text-align: center;
    /* animation: fade-up 2.5s; */
}
.introdiction1-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #4bdd22;
  text-align: center;
  /* animation: fade-up 2.5s; */

}
.introdiction-text h1{
    font-size: 55px;
    font-weight: bold;
}
.introdiction1-text h1{
  font-size:75px ;
  font-weight: bold;
}
.introdiction-text p{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.span1{
    color: rgb(177 170 138);
}
.introdiction-text button{
    width: 290px;
    height: 60px;
    font-size: 21px;
    background-color: #4bdd22;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid  #4bdd22;
    transition: 1s;
    cursor: pointer;
}
.introdiction-text button:hover{
    background-color: #4bdd2277;
    border: 1px solid  #4bdd2277;
    color: aqua;

}

/* End-landing-page */
.registration1{
    width: 100%;
    height: 70vh;
    background-color: #022a3a;
    display: flex;
    justify-content: space-between;
}
.registration1 form{
    width: 40%;
    margin-top: 50px;
    text-align: center;
    border: 1px solid #4bdd22;
    margin-right: 40px;
    height: 350px;
    background-color: #4bdd22;
    border-radius: 40px;
    position: absolute;
    top: 90%;
    left: 55%;
    z-index: 50;
   
}
.registration1 form legend{
    margin-top: 20px;
    color: #022a3a;
    font-weight: bold;
}
.registration1 form input{
    width: 80%;
    text-align:     left;
    margin-left: 52px;

}

.registration1 form button{
    width: 220px;
    height: 40px;
    background-color: #022a3a;
    border: 1px solid #022a3a;
    transition: 1s;
    margin-top: 15px;
}
.registration1 form button:hover{
    background-color: gray;
    color: white;
}
.registration1 .pros{
    width: 50%;
    text-align: left;
    margin-left: 150px;

}
.registration1 .pros h4{
    padding-top: 50px;
    margin-bottom: 10px;
    color:rgb(222 207 137);
    font-weight: bold;
}
.registration1 .pros p{
    color: #4bdd22;
}
.info{
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(255, 255, 255);
}
.info .info1{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.info .info1 .photo1{
    width: 40%;
    height: 100%;
    margin-top: 100px;

}
.info .info1 .EQUIPMENT{
    width: 40%;
    margin-top: 120px;
    margin-left: 50px;
}
.info .info1 .EQUIPMENT h1{
    font-weight: bold;
    color: #022a3a;
    text-align: center;
}
.info .info1 .EQUIPMENT p{
    margin-top: 25px;
    font-size: 17px;
    color: rgb(106, 97, 97);
    width: 100%;
    text-align: justify;
}
.span2{
    color: #b37626;
    font-weight: bold;
}
.photo2{
    width: 40%;
    height: 100%;
    margin-top: 100px;
    margin-right: 100px;
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 46%, 67%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(95, 69%, 50%);
  --dark-color: hsl(211, 35%, 16%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}


/*=============== BASE ===============*/
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px;
  position: relative;
}
.container p{
    color: #7b8d89;
}
.best{
    padding-top: 100px;
    position: absolute;
    text-align: center;
    color: #022a3a;
    top: 380%;
    left: 9%;
    
}
.best h2{
  font-weight: bold;
  color: #022a3a;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}

.card__data {
  background-color: hsl(212deg 4.84% 17.73%);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}
.Market{
    width: 100%;
    height: 70vh;
    /* background-color: #4bdd22; */
    text-align: center;
}
.Market h2{
    margin-top: 20px;
    padding-top: 20px;
    font-weight: bold;
    
}
.Market .words{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Market .words img{
    width: 25%;
    height: 300px;
    margin-top: 30px;
}
.premo{
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../imgs/a4c59365-hh.jpg);
}
.premo video{
  width: 60%;
  height: 80%;
  margin-left: 280px;
  margin-top: 70px;
}
.location{
  width: 100%;
  height: 60vh;
  position: relative;
}
.location iframe{
  width: 100%;
  height: 100%;
}
.location a{
  position: absolute;
  z-index: 222;
  width: 200px;
  height: 50px;
  background-color: #022a3a;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.location a button{
  width: 100%;
  height: 100%;
  background-color: #022a3a;
  border: 1px solid #022a3a;
  color: #4bdd22;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;

}
.location a button:hover{
  background-color: #4bdd221a;
  color: white;
}
.footer1{
  width: 100%;
  height: 50vh;
  background-color: black;
}
.footer1 .info2{
  width: 50%;
  height: 100%;
  /* background-color: #4bdd22; */
  margin: auto;
}
.footer1 .info2 img{
  width: 300px;
  height: 150px;
  padding-top: 50px;
  margin-left: 30%;
}
.footer1 .info2 p{
  text-align: center;
  margin-top: 30px;
  color:rgb(217, 185, 185);
}
.footer1 .info2 i{
  text-align: center;
  font-size: 30px;
  margin-right: 35px;
  color: rgb(217, 185, 185);
  transition: 1s;
  cursor: pointer;
}
.footer1 .info2 i:hover{
  color: white;
}
.i1{
  margin-top: 25px;
  padding-left: 290px;
}
footer{
  width: 100%;
  height: 8vh;
  margin: auto;
  background-color: #022a3a;
  color: #4bdd22;
  text-align: center;
}
footer h6{
  padding-top: 20px;

}
footer h6 a{
  color: #7b8d89;
  transition: 1s;
}
footer h6 a:hover{
  color: black;
}
.facilities{
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/a4c59365-hh.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.facilities_h1{
  padding-top: 170px;
  font-weight: bold;
  font-size: 70px;
  color: white;
}
.facilities p{
  /* margin-top: 30px; */
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
  color: white;
  width: 80%;
  animation: fade-up 5s;
  font-family: 'Oswald', sans-serif;
  margin: auto;
}
.facilities i{
  font-size: 40px;
  padding-top: 40px;
  color: white;
  cursor: pointer;
}
.Our-story{
  width: 100%;
  height: 100vh;
  background-color: black;
  border-top: 20px solid #4bdd22;
  border-bottom: 20px solid #4bdd22;
  text-align: center;
}
.Our-story h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  padding-top: 100px;

}
.Our-story p{
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 22px;
  padding-top: 40px;
  color: white;
  animation: fade-up 8s;

}
.span3{
  color: #4bdd22;
}
.Membership{
  width: 100%;
  height: 120vh;
  background-color: black;
  border-top: 20px solid #4bdd22;
  border-bottom: 20px solid #4bdd22;
  text-align: center;
}
.Membership h1{
  padding-top: 50px;
  color: white;
  font-size: 50px;
}
.Membership form{
  width: 60%;
  height: 650px;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #4bdd22;
  margin-right: 40px;
  /* animation: fade-up 4s; */
  background-color: #4bdd22;
  border-radius: 40px;
  margin-left: 20%;
  
 
}
.b1{
  margin-top: 80px;
}
.Membership form legend{
  margin-top: 20px;
  color: #022a3a;
  font-weight: bold;
}
.Membership form input{
  width: 80%;
  text-align:left;
  margin-left: 82px;

}
.Membership form select{
  width: 80%;
  text-align:left;
  margin-left: -19px;
  height: 40px;
  border-radius: 5px;
  color: gray;
  border: 1px solid grey;

}
.b2{
  width: 80%;
  text-align:left;
  margin-left: -19px;
  height: 40px;
  border-radius: 5px;
  color: gray;
  border: 1px solid grey;
}
.Membership form .select1{
  width: 30%;
  text-align:left;
  margin-left: -19px;
  height: 40px;
  border-radius: 5px;
  color: gray;
  border: 1px solid grey;

}

.Membership form button{
  width: 300px;
  height: 40px;
  background-color: #022a3a;
  border: 1px solid #022a3a;
  transition: 1s;
  margin-top: 15px;
  /* margin-right: 400px; */
}
.Membership form button:hover{
  background-color: gray;
  color: black;
}
